@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Open+Sans & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --f1: 'Open Sans', sans-serif;
    --f2: 'Inter', sans-serif;
    --f3: 'Lato', sans-serif;

    --c1: #363636;
    --c2: #3c465e;
    --c3: #7cedff;
    --c4: white;
}
html{
    min-height: 100%;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}
#burger{
    background-color: var(--c2);
    padding: 5px;
    margin: auto;
    float: right;
}
span.material-symbols-outlined{
    display: none;
    color: var(--c3);
    
}
span.material-symbols-outlined:hover{
    color: var(--c4);
    cursor: pointer;
}
img#logo{
    float: left;
    margin-left: -30px;
    margin-top: -25px;
    padding-left: 135px;
}

mobile{
    display: none;
    
}
#container{
    background-color: var(--c1);
    padding: 35px;
    text-align: right;
    padding-right: 135px;
    
    
}
a{
    color: var(--c3);
    text-decoration: none;
    margin: 10px;
    font-size: 1.3em;
    font-family: var(--f2);
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.426);
}
a:hover{
    color: var(--c4);
}
header{
    background-color: var(--c2);
    padding-bottom: 160px;
    
}
h1,h2{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.426);
}
header h1{
    color: var(--c3);
    font-family: var(--f3);
    font-size: 3em;
    padding-top: 100px;
}
header h2{
    color: var(--c4);
    font-family: var(--f2);
    font-size: 1.3em;
    padding: 0px 130px 0px 130px;
    max-width: 1100px;
    margin: auto;
}
main{
    box-shadow: 1px -7px 5px rgba(0, 0, 0, 0.238);
    padding: 0px;
    margin: 0px;
}
div{
    text-align: center;
}
img#i1{
    width: 95vw;
    max-width: 950px;
    margin-top: -120px;
}
ul{
    list-style: none;
    columns: 4;
    
}