@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Open+Sans & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --f1: 'Open Sans', sans-serif;
    --f2: 'Inter', sans-serif;
    --f3: 'Lato', sans-serif;
    --f4: 'Bebas Neue', cursive;

    --c1: #363636;
    --c2: #3c465e;
    --c3: #7cedff;
    --c4: rgba(231, 231, 231, 0.929);
    --c5: #363636;
}
html{
    min-height: 100%;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: var(--c);
}
#burger{
    background-color: var(--c2);
    padding: 5px;
    transition: 0.4s;
    display: block;
}
span.material-symbols-outlined{
    display: none;
    color: var(--c3);
    text-align: right;
    margin-right: 200px;
}
span.material-symbols-outlined:hover{
    color: var(--c4);
    cursor: pointer;
}
mobile{
    display: none;
}
img#logo{
    width: 100px;
    margin-top: -150px;
    transition: 0.4s;
    margin-left: 200px;
    display: none;
}
div#navbar{
    background-color: var(--c5);
    padding: 20px 0px;
    z-index: 1;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.082);
    top: 0;
    min-width: 100%;
    display: block;
    position: fixed;
    transition: .4s;

}
nav{
    margin-right: 200px;
    text-align: right;
}
a{
    color: var(--c3);
    text-decoration: none;
    margin: 10px;
    font-size: 1.3em;
    font-family: var(--f4);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.426);
    display: inline;
        
}
a:hover{
    color: var(--c4);
}
header{
    background-color: var(--c2);
    background-image: linear-gradient(var(--c2), var(--c1)130%);
    padding: 120px 0;
    transition: 0.4s;
    top: 0px;
}

h1,h2{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.426);
}
header h1{
    color: var(--c3);
    font-family: var(--f3);
    font-size: 2em;
    padding-top: 20px;
    
}
header h2{
    color: var(--c4);
    font-family: var(--f2);
    font-size: 1em;
    padding: 0px 130px 0px 130px;
    max-width: 800px;
    margin: auto;
}
main{
    padding: 0px;
    margin: 0px;
    width: 100%;

}img#i1{
    width: 60vw;
    max-width: 950px;
    margin: auto;
    margin-top: -80px;
    display: block;
}
ul{
    list-style: none;
    columns: 4;
    
}
