@charset "UTF-8";


body{
    background-color: var(--c2);
    
}
.container{
    margin: 0px;
    padding: 0px;
    width: 550px;
    display: flex;

}
main{
    background-color: var(--c1);
    width: 1200px;
    margin: auto;
    color: var(--c4);
    box-shadow: none;
}
p{
    padding-bottom: 40px;
    margin: 40px;
    text-align: justify;
    font-size: 1.3em;
    font-family: var(--f2);
}
div.container img{
    display: inline-flex;
    float: right;
    width: 550px;
    height: 350px;
}
img#mobile{
    display: none;
}